.main {
  width: 100%;
  width: 100%;
  padding: 0 4rem;
}

@media screen and (max-width: 768px) {
  .main {
    padding: 0 2rem;
  }
}

.hero {
  width: 100%;
  display: grid;
  grid-template-columns: 6fr 5fr 1fr;
  gap: 1rem;
  padding-top: 15rem;
  padding-bottom: 10rem;

  .content {
    p {
      margin-top: 4rem;
      padding-bottom: 10rem;
      width: 29rem;

      span {
        font-style: italic;
        font-weight: 200;
      }
    }

    .mainTitle {
      margin-top: 0rem;
    }
  }

  .imageContainer {
    width: 100%;
    position: relative;

    img {
      object-fit: contain;
    }
  }
}

@media screen and (max-width: 768px) {
  .hero {
    padding-top: 10rem;
    grid-template-columns: 1fr;

    .content {
      order: 1;

      p {
        margin-top: 2rem;
        width: 44rem;
      }

    }

    .imageContainer {
      width: 70%;
      order: 0;
      height: 30rem;
    }
  }
}

@media screen and (max-width: 465px) {
  .hero {
    .content {
      p {
        margin-top: 2rem;
        width: 100%;
        br {
          display: none;
        }
        span {
          display: block;
        }
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .hero {
    .imageContainer {
      width: 90%;
      height: 24rem;
    }
  }
}

.stat {
  margin-top: 10rem;
  display: grid;
  grid-template-columns: 5fr 7fr;
  gap: 1rem;
  padding-bottom: 3rem;

  h2 {
    span {
      font-style: italic;
      font-weight: 100;
    }
  }

  .numbers {
    display: grid;
    grid-template-columns: 4fr 3fr;
    gap: 1rem;

    .numbersElement {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      h1 {
        p {
          font-weight: 500;
          display: inline-block;
        }
      }
    }
  }
}


@media screen and (max-width: 768px) {
  .stat {
    margin-top: 0rem;
    grid-template-columns: 1fr;
    gap: 4rem;
    padding-bottom: 3rem;
  
    h2 {
    }
  
    .numbers {
      grid-template-columns: 1fr;
      gap: 5rem;
  
      .numbersElement {
        gap: 1rem;
        h1 {
          font-size: 8rem;
        }
      }
    }
  }
}

.howInfo {
  display: grid;
  grid-template-columns: 5fr 6fr 1fr;
  margin-top: 10rem;
  gap: 1rem;

  .content {
    padding-top: 2rem;
  }

  .imageContainer {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 40%;

    img {
      width: 100%;
      object-fit: contain;
    }
  }
}

@media screen and (max-width: 768px) {
  .howInfo {
    grid-template-columns: 1fr;
    margin-top: 10rem;
    gap: 4rem;
  
    .content {
      padding-top: 2rem;
    }
  
    .imageContainer {
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      width: 80%;
      height: 20rem;
  
      img {
        width: 100%;
        object-fit: contain;
      }
    }
  }
}

.principles {
  margin-top: 20rem;
}

.actives {
  margin-top: 10rem;
}

.footer {
  margin-top: 10rem;
  p {
    margin-top: 5rem;
    
  }
}